
*
{
    text-decoration: none;
    color: black;
}

#top
{
    float: right;
}
#top li
{
    display: inline;
    padding: 1rem;
}
#top a
{
    color: red;
    text-decoration: none;
    font-weight: 900;
}
#top a:hover
{
    text-decoration: underline;
}

body
{
    margin: 0;
    background-color: rgb(106, 141, 197);
}

#maintitle
{
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 20rem;
    background-image: url(header.png);
    background-size: 100%;
    background-attachment: fixed;
}

#maintitle img
{
    vertical-align:  sub;
}

#maintitle h1
{
    display: inline;
    color:orange;
}

#maintitle_introduction, #maintitle_journals, #maintitle_pictures, #maintitle_specific_journal
{
    margin-top: 5rem;
}


.journal
{
    text-align: center;
    margin: 8rem 20rem;
    border: 0.2rem black;
    border-top-style: double;
    border-bottom-style: double;
}

.journal .journal_title
{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.journal .journal_content
{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.journal_date
{
    margin-bottom: 1rem;
}

.journal_detailed
{
    margin: 5rem 10rem 0 ;
    padding: 0 3rem 3rem;
    border: 0.2rem black;
    border-bottom-style: double;
}

.journal_link
{
    margin: 0 10rem;
    padding:  3rem;
    font-family: "楷体";
    font-size: 1.5rem;
}

.journal_link .pre_journal
{
    margin-bottom: 1rem;
}

#space
{
    height: 10rem;
}

#introduction
{
    margin-left: 10rem;
    display: inline;
}

#introduction #photo
{
    display: inline-block;
    vertical-align: middle;
}

#introduction #information
{
    margin-left: 5rem;
    display: inline-block;
    vertical-align: middle;
}

#introduction #contact
{
    margin-left: 5rem;
    display: inline-block;
    vertical-align: middle;
}

#introduction #detailedinfo
{
    margin: 4rem 10rem;
}

.pictures
{
    text-align: center;
    margin: 8rem 20rem;
}

#delete
{
    text-decoration: line-through;
}


#footer
{
    margin: 0;
    height: 15rem;
    background-image: url(footer.png);
    background-size: 100%;
    background-attachment: fixed;
}